.film-detail {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  .film-detail-content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    .film-poster {
      flex: 2;
      max-width: 400px; 


      img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }
    }

    .film-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 15px;

      h1 {
        font-size: 2.5rem;
        font-weight: bold;
        margin: 0;
      }

      .tagline {
        font-size: 1.2rem;
        font-style: italic;
        color: #666;
      }

      .overview {
        font-size: 1rem;
        line-height: 1.6;
      }

      .film-genres {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .genre {
          background-color: #007bff;
          color: white;
          padding: 5px 10px;
          border-radius: 20px;
          font-size: 0.9rem;
        }
      }

      .release-date,
      .runtime {
        font-size: 1rem;
        color: #555;
      }

      .wishlist-button {
        background-color: #28a745;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 1rem;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        max-width: 200px; 
        width: 100%; 

        &:hover {
          background-color: #218838;
        }
      }
    }
  }

  .additional-info {
    margin-top: 40px;

    h2 {
      font-size: 2rem;
      margin-bottom: 20px;
    }

    .info-grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px;

      @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
      }

      h3 {
        font-size: 1.5rem;
        margin-bottom: 15px;
      }

      ul {
        list-style-type: none;
        padding: 0;

        li {
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 50px;
            height: auto;
          }
        }
      }
    }
  }
}

.loading {
  text-align: center;
  font-size: 1.2rem;
  color: #666;
  margin-top: 50px;
}